@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-15px) scale(1.04);
  }
  100% {
    transform: translateY(0px) scale(1.0);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}
